{% extends 'base.html' %}
{% block judul %}
{%endblock %}
{% block JudulKonten %}
{% endblock %}
{% block konten %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>artis</th>
                <th>lagu</th>
            </tr>
        </thead>
        <tbody>
            {% for row in hasil %}
                <tr>
                    <td style="width:15%">{{ row.0 }}</td>
                    <td style="width:75%">{{ row.1 }}</td>
                    <td style="width:10%"><button type="button" name="{{ row.1 }}" class="btn btn-info" onclick="location.href='/chord-{{ row.1 }}'">Pilih</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
