{% extends 'base.html' %}
{% block heading %}
<div id="heading" >
    <h1>ARAI</h1>
</div>
{% endblock %}
{% block konten %}
<header class="special">
						<h2>Kelompok Arai</h2>
                    <p>kelompok ini dinamai nama atas restu ayah dan ibu karena tanpa restu mereka maka kita tidak akan kuliah,Kelompok ini beranggotakan </p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}" />
									</div>
									<h3>Akhmad Attar</h3>
                                    <h4>18.83.0189</h4>
								</header>
								<p>Seorang wibu yang memiliki banyak poster waifunya di kamarnya.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}" />
									</div>
									<h3>Bhimo Arisetyo</h3>
                                    <h4>18.83.0139</h4>
								</header>
								<p>Seorang laki laki yang rajin berangkat kuliah dan imanya sangat baik</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}" />
									</div>
									<h3>Moh Sesar abdul S.</h3>
                                    <h4>18.83.0156</h4>
								</header>
								<p>Seorang perantau yang sering mental breakdown ketika praktikum VCC.</p>
							</div>
						</section>
                    </div>
{% endblock %}